# Add folders and file extensions you want git to ignore to this file, e.g. data/
data/
slurm-*
tmp/
.*.swp
output/
TODO
.Rproj.user/
*.Rproj
.DS_Store
AoU_training/
bin/
lib/
pgsc_calc_logs/
.Rhistory
